.start-screen .row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.career {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.career img {
  max-width: 200px;
  height: 200px;
  width: 164px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: var(--global-border-radius);
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
  margin: 8px 4px 4px 4px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.career span {
  font-size: var(--font-size-subheading);
  font-family: var(--global-font);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  max-width: 200px;
  width: 164px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  outline: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
}

.name-selected {
  color: white;
  background-color: black;
}

.image-selected {
  outline: 2px solid black;
}

.save-data-container{
  position: absolute;
  font-family: var(--global-font);
  left: 0px;
  bottom: 0px;
  margin: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 11px;
  box-shadow: 0 0 8px 0 var(--global-box-shadow-color);
}

.save-title{
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  outline: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 0px;
}

.save-data{
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 10px 10px 10px 25px;
}

.save-image{
  max-width: 200px;
  height: 100px;
  width: 82px;
  margin: 0px 10px 0px 20px;
  border: 1px solid black;
  border-radius: 10px;
}